@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@100;300;400;600;700&display=swap'); 

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

.photo-cotainer {
  display: flex;
  padding: 10px 36px;
  max-width: 100%;
  box-shadow:  0 2px 4px 0 rgba(0,0,0,.2);
}


.photo {
  max-width: 100px;
}

.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.hero--photo {
  display: flex;
  align-self: center;
}

.hero--header {
  font-size: 36px;
  font-weight: 600;
  margin-left: 36px;
}

.hero--text {
  font-size: 16px;
  margin-left: 36px;
  columns: #222222;
  width: 320px;
  height: auto;
}